<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controllers.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/submitOrder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>controllers.InventoryServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>PricingServlet</servlet-name>
        <servlet-class>controllers.PricingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/submitOrder</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/updateInventory</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PricingServlet</servlet-name>
        <url-pattern>/calculatePrice</url-pattern>
    </servlet-mapping>

</web-app>
